tqdm>=4.66.4
h5py>=3.11.0
scipy==1.14.1
torch>=2.5.1
torchvision>=0.20.1
numpy>=2.2.6
geojson>=3.1.0
rasterio>=1.4.3,<1.5
geopandas>=1.0.1
matplotlib>=3.9.2
transformers>=4.45.0
scikit-learn>=1.5.2
configargparse>=1.7
opencv-python-headless>=4.10.0.84
scikit-image>=0.24.0
segmentation-models-pytorch>=0.3.3