absl-py==2.1.0
access==1.1.9
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.4.0
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.8.2
branca==0.7.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
climatepix @ git+https://github.com/aniskhan25/climate-pix.git@9986fef28a4181c131a0a9c2507c8892f55085df
clip==0.2.0
cloudpickle==3.0.0
comm==0.2.2
ConfigArgParse==1.7
contextily==1.6.2
contourpy==1.2.1
cycler==0.12.1
dask==2024.8.0
datasets==2.20.0
debugpy==1.8.2
decorator==5.1.1
deprecation==2.1.0
dill==0.3.8
distributed==2024.8.0
efficientnet==1.0.0
efficientnet_pytorch==0.7.1
esda==2.6.0
executing==2.0.1
fastapi==0.112.1
filelock==3.15.4
fiona==1.9.6
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
gast==0.6.0
GDAL==3.9.2
geographiclib==2.0
geojson==3.1.0
geopandas==1.0.1
geopy==2.4.1
giddy==2.3.5
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
huggingface-hub==0.23.4
idna==3.7
image-classifiers==1.0.0
imageio==2.34.2
inequality==1.0.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.4.1
Keras-Applications==1.0.8
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
libpysal==4.12.1
llvmlite==0.43.0
locket==1.0.0
mapclassify==2.8.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mercantile==1.2.1
meteor @ git+https://github.com/marccoru/meteor.git@4f974f7a8c54084a54dc76fec483d952bb281e17
mgwr==2.2.1
ml-dtypes==0.3.2
momepy==0.8.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
munch==4.0.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.4.2
nest-asyncio==1.6.0
networkx==3.3
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
plotext==5.2.8
pluggy==1.5.0
pointpats==2.5.0
pretrainedmodels==0.7.4
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
PuLP==2.9.0
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyclean==3.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pyfakefs==5.6.0
Pygments==2.18.0
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pysal==24.7
pytest==8.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
quantecon==0.7.2
rasterio==1.3.10
rasterstats==0.19.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
Rtree==1.3.0
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
segmentation-models==1.0.1
segmentation-models-pytorch==0.3.3
segregation==2.5
setuptools==70.3.0
shapely==2.0.5
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.6
spaghetti==1.7.6
spglm==1.1.0
spint==1.0.7
splot==1.1.6
spopt==0.6.1
spreg==1.6.1
spvcm==0.3.0
stack-data==0.6.3
starlette==0.38.2
statsmodels==0.14.2
streamlit==1.37.1
streamlit_folium==0.22.0
sympy==1.13.0
tblib==3.0.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.7.2
timm==0.9.2
tobler==0.11.3
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.1
torch_geometric==2.5.3
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.4
TreeMort @ file:///Users/anisr/Documents/TreeSeg
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
xxhash==3.4.1
xyzservices==2024.6.0
yarl==1.9.4
zict==3.0.0
